*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav-bar{
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.nav-ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 276px;
    height: 19px;
    list-style-type: none;
    color: #F3F3F3;
    margin-right: 28px;
}

.logo{
    display: flex;
    align-items: center;
    font-style: bold;
    margin-left: 20px;
}

.pizza{
    color: #39B24A;
    font-size: 24px;
    font-style: bold;
}

.letra-e{
    color: #FFFFFF;
    font-size: 24px;
    font-style: bold;
}

.front{
    color: #FC200C;
    font-size: 24px;
    font-style: bold;
}

.main{
    background: #F3F3F3;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
    margin-bottom: 35px;
}

.motoboy-container{
    text-align:center;
    background-image: url(./img/delivery.jpg);
    height: 350px;
    width: 490px;
}

.pizza-container{
    background: #FFFFFF;
    height: 350px;
    width: 490px;
    justify-content: space-around;
    align-items: center;
}

.pizza-infos{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

.pizza-titulo{
    text-align: center;
    margin-top: 10px;
    color: #FC200C;
    font-size: 24px;
    font-weight: 700px;
}
.envio {
    color: #FC200C;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
}

.comprando{
    color: #F3F3F3;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
}

.foot{
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
}

.foot-list{
    color: #F3F3F3;
    margin-left: 28px;
    list-style-type: none;
}