@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    background-color: #131313;
}

h1{
    color: white;
    font-family: 'Roboto';
}

.media-picture{
    height: 400px;
    background-image: url(https://images.mubicdn.net/images/film/2195/cache-9301-1546812013/image-w1280.jpg?size=800x);
    background-size: cover;
}

.review-score{
    background-color: #e6bd09;
    color: white;
    padding: 12px;
}

h2{
    color: steelblue;
}

p{
    color: #bdbdbd;
    font-family: 'Roboto';
}

a{
    color: yellow;
}